.btn {
  display: inline-block;
  padding: 10px 23px;
  background-color: $dark-blue;
  box-shadow: 0 4px 0 0 $darker-blue;
  width: auto;
  color: white !important;
  font-size: 12px;
  border-radius: 25px;

  &.-xl {
    width: 100%;
    font-size: 18px;
  }

  &:hover {
    background-color: $darker-blue;
    box-shadow: 0 4px 0 0 $dark-blue;
    color: white;
  }

  &:focus {
    outline: none;
    position: relative;
    box-shadow: 0 4px 0 0 $darker-blue;

    &:before {
      position: absolute;
      display: block;
      content: '';
      top: -9px;
      left: -9px;
      right: -9px;
      bottom: -11px;
      border: 2px solid $blue;
      border-radius: 30px;
    }
  }

  &:active {
    background-color: $pink;
    box-shadow: 0 0 $pink;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    padding: 15px 33px;
  }

  @media screen and (min-width: 1680px) {
    font-size: 18px;
    padding: 15px 50px;
  }
}

a {
  &:focus {
    outline: none;
  }
}