section.catalog{
  padding: 0 30px;
  @media (max-width: 768px){
    padding: 0;
  }
  .container-big{
    .row{
      h1 {
        font-size: 24px !important;
      }
      h1, h2 {
        text-align: center;
        letter-spacing: 2.4px;

        @media (max-width: 991px){
          font-size: 2.5rem;
          line-height: 3rem;
        }
        @media (max-width: 575px){
          font-size: 2rem;
          letter-spacing: normal;
        }
        @media (max-width: 400px){
          font-size: 18px;
          line-height: 40px;
        }
      }
      .item{
        overflow: hidden;
        margin-bottom: 30px;
        @media (max-width: 575px){
          margin-bottom: 15px;
        }
        &.col-md-6{
          min-height: 541px;
          max-height: 541px;
          height: 541px;
          @media (max-width: 1699px){
            min-height: 420px;
            max-height: 420px;
            height: 420px;
          }
          @media (max-width: 768px){
            flex: 0 0 100%;
            max-width: 100%;
          }
          @media (max-width: 575px){
            min-height: 280px;
            max-height: 280px;
            height: 280px;
          }
          .content{
            height: 541px;
            @media (max-width: 1699px){
              height: 420px;
            }
            @media (max-width: 575px){
              height: 280px;
            }
            .img_container{
              height: 541px;
              @media (max-width: 1699px){
                height: 420px;
              }
              @media (max-width: 575px){
                height: 280px;
              }
            }
            .text{
              .name{
                @media (max-width: 1699px) and (min-width: 992px){
                  max-height: 68px;
                  overflow: hidden;
                }
              }
            }
            &:hover{
              .img_container{
                margin-left: 35.5%;
                @media (max-width: 1699px){
                  &::after{
                    background: rgba(255,255,255,.8);
                  }
                  margin-left: 0;
                }
              }
              .text{
                left: 0;
                bottom: 14%;
              }

              .name {
                color: #7a7375;
                min-height: 36px;
              }
            }
          }
        }
        &.col-md-4{
          min-height: 378px;
          max-height: 378px;
          height: 378px;
          @media (max-width: 1699px){
            min-height: 260px;
            max-height: 260px;
            height: 260px;
          }
          @media (max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
            min-height: 420px;
            max-height: 420px;
            height: 420px;
          }
          @media (max-width: 575px){
            min-height: 280px;
            max-height: 280px;
            height: 280px;
          }
          .content{
            padding: 0 !important;
            height: 378px;
            @media (max-width: 1699px){
              height: 260px;
            }
            @media (max-width: 991px){
              height: 420px;
            }
            @media (max-width: 575px){
              height: 280px;
            }
            .img_container{
              height: 378px;
              @media (max-width: 1699px){
                height: 260px;
              }
              @media (max-width: 991px){
                height: 420px;
              }
              @media (max-width: 575px){
                height: 280px;
              }
            }
            .text{
              max-width: 100%;
              .name{
                font-size: 1.8rem;
                max-height: 117px;
                overflow: hidden;
              }
              p.description{
                max-width: 90%;
                @media (max-width: 1699px) and (min-width: 992px){
                  display: none;
                }
              }
              .btn-pink{
                margin-bottom: 1.1rem;
                @media (max-width: 1699px) and (min-width: 992px){
                  margin-bottom: 0;
                }
              }
              p.hint{
                @media (max-width: 1699px) and (min-width: 992px){
                  display: none;
                }
              }
            }
            &:hover{
              .img_container::after{
                background: rgba(255,255,255,.8);
              }
              .text{
                left: 0;
                bottom: 7%;
              }

              .name {
                color: #7a7375;
              }
            }
          }
          &.sale{
            .sale_amount{
              top: -32px;
              right: 29px;
              width: 90px;
              height: 90px;
              padding: 38px 0 20px;
              font-size: 1.2rem;
            }
          }
        }
        &.sale{
          position: relative;
          .sale_amount{
            display: block;
            position: absolute;
            top: -49px;
            right: 45px;
            width: 125px;
            height: 125px;
            border-radius: 50%;
            background-color: #ffffff;
            text-align: center;
            color: #52494c;
            font-family: Comfortaa;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5rem;
            letter-spacing: 1.5px;
            padding: 65px 0 25px;
            z-index: 9;
          }
          .old-price {
            display: inline;
          }
        }
        .price-data {
          position: relative;

          .old-price {
            font-size: 0.85em;
            text-decoration: line-through;
          }
        }
        .container_for_item{
          overflow: hidden;
          cursor: pointer;
        }
        .sale_amount{
          display: none;
        }
        .old-price {
          display: none;
        }
        .content{
          display: inline-table;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #f4e8ec;
          transition: all .5s ease;
          padding: 0 !important;
          border-radius: $border-radius;
          &.light-pink{
            background-color: #f4e8ec;
          }
          &.light-yellow {
            background-color: #fffeca;
          }
          &.light-green{
            background-color: #c3e9da;
          }
          &.blue{
            background-color: #acd5ea;
          }
          &.violet{
            background-color: #d1c0dd;
          }
          &.peachy{
            background-color: #ffeaca;
          }

          .img_container{
            width: 100%;
            //height: 100%;
            max-width: 100%;
            max-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s ease;
            position: relative;
            &::after{
              content: "";
              background: rgba(255,255,255,.0);
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              transition: all .5s ease;
              left: 0;
            }
            img{
              max-width: 100%;
              max-height: 100%;
              transform: scale(1.15);
              margin-top: 2%;

              @media screen and (max-width: 550px) {
                transform: scale(1.05);
              }
            }
            &.bigger_enough{
              img{
                transform: scale(1.45);
              }
            }
            &.bigger_not_enough{
              img{
                transform: scale(1.2);
              }
            }
            &.left_margined{
              img{
                margin-left: 20%;
              }
            }
          }
          .text{
            position: absolute;
            bottom: 0;
            left: -150%;
            padding-left: 7%;
            padding-bottom: 25px;
            max-width: 62%;
            transition: all .5s ease;
            @media (max-width: 1699px){
              max-width: 100%;
              z-index: 99;
            }
            h2.name{
              font-family: Comfortaa;
              font-size: 2.1rem;
              margin-bottom: 1rem;
              letter-spacing: .9px;
              transition: all .5s ease;
              text-align: left;
              &:hover{
                text-shadow: 0 0 4px #fff;
              }
            }
            p.description{
              color: #7a7375;
              font-size: 18px;
              font-weight: 400;
              line-height: 30px;
              letter-spacing: 0.9px;
              max-width: 75%;
              margin-bottom: 1.1rem;
              @media (max-width: 1699px){
                max-height: 120px;
                overflow: hidden;
              }
              @media (max-width: 1199px){
                max-width: 94%;
              }
              @media (max-width: 575px){
                display: none;
              }
            }
            .btn-pink{
              max-width: 100%;
              //width: 100%;
              min-width: unset;
              font-size: .9rem;
              font-weight: 400;
              line-height: 1.6rem;
              letter-spacing: 1.5px;
              margin-bottom: 3.1rem;
              @media (max-width: 1699px){
                margin-bottom: 2rem;
              }
              @media (max-width: 991px){
                margin-bottom: 1.1rem;
              }
            }
            p.hint{
              max-width: 78%;
              letter-spacing: .7px;
              color: #7a7375;
              font-size: .7rem;
              line-height: 1.2rem;
              margin-bottom: 0;
              margin-left: 8px;
              a{
                color: #e8336b;
                letter-spacing: 0.7px;
              }
              @media (max-width: 575px){
                max-width: 94%;
              }
            }
          }
        }

        .additional-images {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1680px){
    margin-bottom: 100px;
  }
}