body {
  margin: 0;
  padding: 15px;
  min-height: 100vh;

  &.-overflow {
    height: 100vh;
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0!important;

  @media screen and (min-width: 1680px) {
    width: 1680px;
  }

  &.-smaller {
    max-width: 600px;
  }

  &.-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.-screen-height {
    min-height: calc(100vh - 30px);
  }

  &.-height-auto {
    min-height: initial;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  &__inner {
    width: 50%;
  }

  &.-no-padding {
    padding: 0;
  }
}

.features {
  margin-bottom: 100px;
  //display: flex;
  //align-items: flex-start;
  //justify-content: space-between;
  //flex-wrap: wrap;

  &__item {
    text-align: center;
  }

  &__pic {
    margin-bottom: 15px;
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 14px;
  }
}

.row {
  &.-flex-center {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .features {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1186px;

    &.-smaller {
      max-width: 1024px;
    }
  }

  .features {
    &__pic {
      min-height: 205px;
    }

    &__title {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1680px) {
  .container {
    max-width: 1440px;

    &.-smaller {
      max-width: 1280px;
    }
  }

  .features {
    margin-bottom: 200px;

    &__title {
      font-size: 24px;
    }


  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1680px;

    &.-smaller {
      max-width: 1440px;
    }
  }
}