.decor {
  position: absolute;

  &.-main {
    left: 0;
    bottom: -66px;
    background-color: white;
    background-image: url("../img/320_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 191px;
    height: 97px;
  }

  &.-form {
    display: none;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.-clean {
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-image: url("../img/320_yammy.png");
    background-position: center;
    height: 73px;
  }

  @media screen and (min-width: 768px) {
    &.-main {
      bottom: -57px;
      background-image: url("../img/768_1.png");
      width: 170px;
      height: 121px;
    }

    &.-form {
      display: block;
      background-image: url("../img/768_choose.png");
      width: 150px;
    }

    &.-clean {
      background-image: url("../img/768_yammy.png");
      height: 181px;
    }
  }

  @media screen and (min-width: 1280px) {
    &.-form {
      background-image: url("../img/1280_choose.png");
      width: 226px;
      height: 391px;
    }

    &.-clean {
      background-image: url("../img/1280_yammy.png");
      height: 305px;
    }
  }

  @media screen and (min-width: 1440px) {
    &.-main {
      bottom: -105px;
      background-image: url("../img/1440_1.png");
      width: 313px;
      height: 186px;
    }

    &.-form {
      background-image: url("../img/1440_choose.png");
    }

    &.-clean {
      background-image: url("../img/1440_yammy.png");
      height: 342px;
    }
  }

  @media screen and (min-width: 1920px) {
    &.-main {
      bottom: -142px;
      background-image: url("../img/1920_1.png");
      width: 423px;
      height: 245px;
    }

    &.-form {
      background-image: url("../img/1920_choose.png");
      height: 559px;
      width: 326px;
    }

    &.-clean {
      background-image: url("../img/1920_yammy.png");
      height: 456px;
    }
  }
}

.success-img {
  max-width: 90px;
  margin-bottom: 15px;

  @media screen and (min-width: 1280px) {
    max-width: 110px;
    margin-bottom: 25px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 130px;
    margin-bottom: 40px;
  }
}