.footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;

  &__logo {
    max-width: 182px;
    margin-bottom: 10px;
  }

  &__links {
    margin-bottom: 15px;

    a {
      display: block;
      color: black;
      font-size: 14px;
      font-weight: 600;
      line-height: 30px;
    }
  }

  &__socials {
    margin-bottom: 15px;

    a {
      margin: 0 5px;
      transition: .2s;
    }
  }

  &__right {
    .phone {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 1280px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        margin: 0 10px;
        font-size: 14px;
      }
    }

    &__center {
      position: relative;
    }

    &__links {
      margin-bottom: 0;
    }

    &__socials {
      position: absolute;
      right: -150px;
      top: 0;
      margin-bottom: 0;
      display: flex;

      img {
        max-width: 25px;
      }

      a {
        display: block;

        &:hover {
          transform: translateY(-25%);
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {

  }

  @media screen and (min-width: 1680px) {
    &__socials {
      right: -180px;
      top: -5px;

      img {
        max-width: 37px;
      }
    }

    &__links {
      a {
        font-size: 18px;
      }
    }
  }

}