.form {
  margin: 0 auto;
  width: 240px;

  &-small {
    font-size: 10px;
    color: #010101;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
  }
}

.fieldset {
  position: relative;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  border: none;
  height: 49px;
  font-size: 18px;
  padding: 10px 40px;

  &:focus-within {
    &:before {
      position: absolute;
      display: block;
      content: '';
      top: -7px;
      left: -7px;
      right: -7px;
      bottom: -7px;
      border: 2px solid $blue;
      border-radius: 35px;
      z-index: 1;
    }
  }
}

.input {
  width: 100%;
  background-color: white;
  border: none;
  z-index: 2;
  opacity: .4;
  transition: .3s;
  padding-left: 5px;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
    //color: $blue;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 440px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .fieldset.-phone {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    width: 512px;
  }
  .fieldset {
    margin-bottom: 0;
    height: 61px;
    padding: 18px 30px 18px 47px;
  }

  .input {
    font-size: 18px;
  }
}

@media screen and (min-width: 1680px) {
  .form {
    width: 650px;
  }
  .fieldset.-phone {
    margin-right: 20px;
    height: 61px;
    padding: 18px 30px 18px 80px;
  }

  .input {
    font-size: 18px;
  }
}