.modal {
  &-dialog {
    max-width: 640px;
  }

  &-content {
    margin: 0;
    border-radius: 25px;

    &.-order-form {
      text-align: center;
    }
  }

  &-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &-body {
    position: relative;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 0 auto;

    .fieldset {
      border: 1px solid rgba(0, 0, 0, .3);
      margin: 0 0 15px;
      transition: .3s;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 1);
        cursor: pointer;
      }
    }

    .btn {
      height: 49px;
    }
  }

  @media screen and (min-width: 768px) {
    &-form {
      width: 300px;
    }
  }

  @media screen and (min-width: 1920px) {
    &-dialog {
      max-width: 840px;
    }
  }
}

.modal-window-bouquet{
  .modal-dialog {
    max-width: 1600px;
  }

  background: rgba(0,0,0,.5);
  .modal-content{
    width: 80%;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 768px){
      width: 90%;
    }

    .modal-body.-center {
      justify-content: space-around;
    }

    .modal-body.-close {
      display: none;
    }

    .modal-body{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 100%;
      border-radius: 6px;
      background-color: #ffffff;
      position: relative;
      padding: 0;
      @media (max-width: 870px){
        display: block;
        overflow: auto;
        border-radius: 25px;
      }
      .close{
        outline: none;
        background: url(../img/cansel.png);
        width: 46px;
        height: 44px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        background-repeat: no-repeat;
        background-size: contain;
        right: -20px;
        z-index: 2;
        opacity: 1;
        @media (max-width: 870px){
          flex-direction: column;
          top: 20px;
          right: 20px;
          width: 30px;
          height: 30px;
          filter: drop-shadow(0 0 4px #ea487f);
        }
      }
      .container_for_text{
        padding-bottom: 35px;
        padding-left: 6%;
        padding-right: 3%;
        max-width: 38.7%;
        @media (max-width: 1369px){
          padding: 0 2% 0 4%;
        }
        @media (max-width: 870px){
          display: block;
          max-width: 100%;
          padding: 5% 4% 2% 4%;
        }
        .text{
          margin-top: 3.4rem;
          height: 100%;
          padding-top: 1em;
          padding-bottom: 1em;
          @media (max-width: 1369px){
            margin-top: 0;
          }
          h2.name{
            color: black;
            font-family: Comfortaa;
            font-size: 2.1rem;
            margin-bottom: 1.1rem;
            font-weight: 800;
            letter-spacing: 2.1px;
            @media (max-width: 1699px){
              max-height: 92px;
              overflow: hidden;
            }
            @media (max-width: 1040px){
              font-size: 1.5rem;
              line-height: 1.6rem;
            }
            @media (max-width: 870px){
              max-width: calc(100% - 50px);
              max-height: unset;
            }

            @media screen and (min-width: 1280px) {
              min-height: 36px;
            }
          }
          p.description{
            color: #7a7375;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.9px;
            max-width: 82.4%;
            margin-bottom: 1.3rem;
            @media (max-width: 1699px){
              max-width: 100%;
            }
            @media (max-width: 1369px){
              max-height: 118px;
              overflow: hidden;
            }
            @media (max-width: 1199px){
              font-size: 16px;
              line-height: 24px;
              max-height: 95px;
            }
            @media (max-width: 767px){
              font-size: 13px;
            }
          }
          .btn-pink{
            max-width: 100%;
            min-width: unset;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.6rem;
            letter-spacing: 1.5px;
            margin-bottom: 1.4rem;
            .price-data {
              position: relative;

              .old-price {
                font-size: 0.85em;
                text-decoration: line-through;
              }
            }
            @media (max-width: 1699px){
              //margin-bottom: 2rem;
            }
            @media (max-width: 991px){
              //margin-bottom: 1.1rem;
            }
          }
          p.hint{
            max-width: 86%;
            letter-spacing: .7px;
            color: #7a7375;
            font-size: .7rem;
            line-height: 1.2rem;
            margin-bottom: 0;
            //margin-left: 8px;
            a{
              color: #e8336b;
              letter-spacing: 0.7px;
            }
            @media (max-width: 1040px) and (min-width: 871px){
              display: none;
            }
          }
        }
      }
      .container_slider{
        border-radius: 0 6px 6px 0;
        overflow: hidden;
        align-self: stretch;
        max-width: 50%;
        width: 100%;

        @media (max-width: 870px){
          margin: 0 auto;
          max-width: 100%;
          border-radius: 0 0 6px 6px;
          min-height: 300px;
          display: flex;
        }
        .carousel-bouquet{
          min-height: 100%;
          display: flex;
          @media screen and (max-width: 870px) {
            min-width: 100%;
          }
          .carousel-inner{
            min-height: 100%;
            .carousel-item {
              min-height: 100%;
              align-content: stretch;

              &.active {
                display: flex;
              }
            }
            .carousel-item-inner{
              display: flex;
              align-items: center;
              max-height: 684px;
              overflow: hidden;
              img{
                min-width: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
              }
            }
          }
        }
        .carousel-control-prev-icon{
          background: url(../img/left_arrow.png);
          left: 28px;
        }
        .carousel-control-next-icon{
          background: url(../img/right_arrow.png);
          right: 28px;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon{
          width: 60px;
          height: 60px;
          @media (max-width: 575px){
            width: 40px;
            height: 40px;
            background-size: contain;
          }
        }
        .carousel-control-prev, .carousel-control-next{
          height: 100%;
          @media (max-width: 768px){
            width: 20%;
          }
        }
      }
    }
  }
}