.navbar {
  $this: &;

  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: white;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 90px;

    @media screen and (min-width: 1440px) {
      max-width: 130px;
    }
  }

  &__dropdown {
    position: relative;

    &-toggler {
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;

      i {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: $white;
        border-radius: 2px;

        &:nth-child(2) {
          top: 8px;
        }

        &:last-child {
          bottom: 1px;
        }
      }
    }

    &-menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background-color: white;
      transform: translateY(-100%);
      z-index: 99;
      opacity: 0;
      transition: .2s ease-in-out;

      li {
        display: block;

        a {
          line-height: 30px;
          display: block;
          color: black;
        }
      }
    }

    &.-open {
      #{$this}__dropdown-menu {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;

      &:after,
      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        background-color: black;
        top: 10px;
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }


    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__links {
    position: relative;
    display: none;

    a {
      margin: 0 7px;
      font-size: 12px;
      opacity: .7;
      transition: .2s;

      &.-active {
        opacity: 1;
        position: relative;
      }

      @media screen and (min-width: 1280px) {
        //margin: 0 15px;
        font-size: 14px;
      }

      @media screen and (min-width: 1440px) {
        margin: 0 15px;
        font-size: 18px;
      }

      &:hover {
        opacity: 1;
      }
    }

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &.-footer {
    color: #333;

    a {
      color: #333;
    }
  }
}

.phone {
  font-size: 18px;

  @media screen and (min-width: 1440px) {
    font-size: 25px;
  }

  &.-black {
    color: black;
  }
}