.point {
  position: relative;
  margin-bottom: 3rem;

  &__num {
    top: -40px;
    left: 5px;
    position: absolute;
    font-family: 'frank', SansSerif;
    font-size: 77px;
    z-index: -1;
    color: $light-pink;
  }

  &__text {
    color: #333333;
    font-size: 18px;
    z-index: 4;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    &__num {
      font-size: 55px;
    }

    &__text {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 1280px) {
    &__text {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1440px) {
    &__text {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 1680px) {
    &__num {
      font-size: 77px;
    }
  }
}