.section {
  $this: &;

  position: relative;

  &.-main {
    position: relative;
    background: $gradient-main;
    border-radius: $border-radius;
    padding-top: 110px;
    margin-bottom: 85px;
  }

  &.-clean {
    background: url("/assets/img/clean-bg.png") no-repeat center bottom, url("/assets/img/candy-bg.png") no-repeat center top, linear-gradient($dirty-pink, $dirty-blue);
    background-size: 135%, 100%;
    border-radius: $border-radius;
    text-align: center;
    min-height: 415px;

    padding-top: 30px;
    color: #ffffff;

    #{$this}__title {
      margin: 0 auto 25px;
      font-size: 60px;
    }

    #{$this}__subtitle {
      margin: 0 auto 25px;
      font-size: 24px;
    }
  }

  &.-points {
    padding: 50px 0 40px;
    min-height: 300px;
  }

  &.-delivery {
    padding: 30px 0 50px;
    min-height: 300px;
  }

  &.-form {
    position: relative;
    width: calc(100% + 30px);
    margin-left: -15px;

    min-height: 100px;
    background-color: #e4d5ef;
    background-image: url("/assets/img/form-bg-sm.png");
    background-size: 122%;
    background-position-x: -24px;
    background-position-y: bottom;
    background-repeat: no-repeat;

    padding: 40px 0 175px;
    text-align: center;
    color: white;

    p {
      max-width: 300px;
      margin: 0 auto 20px;
    }
  }

  @media screen and (min-width: 768px) {
    &.-main {
      margin-bottom: 80px;
      display: flex;
      align-items: center;
    }

    .main-pic {
      max-width: 366px;
    }

    &.-catalog {
      margin-bottom: 50px;
    }

    &.-points {
      min-height: initial;
    }

    &.-form {
      width: calc(100vw - 40px);
      margin: 0 auto;
      border-radius: 0 300px 300px 0;
      background: url("/assets/img/form-bg-sm.png") no-repeat 146% center, url("/assets/img/1920-dots.png") no-repeat center top, #dfd3ee;
      background-size: 50%, 64%;

      p {
        max-width: 450px;
      }

      padding: 0;
      min-height: 300px;
      display: flex;
      align-items: center;
    }

    &.-clean {
      background-size: 60%, 100%;
    }
  }

  @media screen and (min-width: 1280px) {
    &.-main {
      min-height: 670px;
    }

    .main-pic {
      max-width: 624px;
    }

    &.-clean {
      min-height: 540px;
    }

    &.-form {
      padding: 100px 0 88px;
      background: url("/assets/img/form-bg.png") no-repeat 106% center, url("/assets/img/1920-dots.png") no-repeat 60% 10px, #e4d5ef;
      background-size: 30%, 60%;
    }

    &.-catalog {
      margin-bottom: 90px;
    }

    &.-point {
      .col-md-3 {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }

    &.-delivery {
      .col-md-6 {
        padding: 0;
      }

      img {
        max-width: 595px;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    &.-main {
      min-height: calc(100vh - 125px);
      margin-bottom: 150px;
    }

    .main-pic {
      max-width: 705px;
    }

    &.-features {
      margin-bottom: 120px;
    }

    &.-catalog {
      margin-bottom: 100px;
    }

    &.-clean {
      min-height: 760px;
      padding-top: 80px;
      background: url("/assets/img/clean-bg.png") no-repeat center 200px, url("/assets/img/candy-bg.png") no-repeat center top, linear-gradient($dirty-pink, $dirty-blue) 100%;
      background-size: 45%, 100%;
      margin-bottom: 70px;

      h2 {
        margin-bottom: 20px;
      }
    }

    &.-points {
      padding-top: 25px;
    }

    &.-delivery {
      img {
        max-width: 675px;
      }
    }

    &.-form {
      background-color: #dfd3ee;
    }
  }

  @media screen and (min-width: 1600px) {
    &.-clean {
      background: url("/assets/img/clean-bg.png") no-repeat center 118px, url("/assets/img/candy-bg.png") no-repeat center top, linear-gradient($dirty-pink, $dirty-blue) 100%;
      background-size: 55%, 100%;
    }
  }

  @media screen and (min-width: 1680px) {
    &.-main {
      margin-bottom: 80px;
    }

    &.-form {
      padding: 130px 0;

      .title {
        margin-bottom: 30px;
      }

      p {
        max-width: 650px;
        font-size: 24px;
        margin-bottom: 30px;
      }
    }

    &.-points {
      margin-bottom: 125px;
    }

    &.-clean {
      margin-bottom: 80px;
      padding-top: 130px;
      min-height: 1020px;
      background: url("/assets/img/clean-bg.png") no-repeat center 223px, url("/assets/img/candy-bg.png") no-repeat center top, linear-gradient($dirty-pink, $dirty-blue);

      .title {
        margin-bottom: 30px;
      }
    }
  }

  @media screen and (min-width: 1920px) {
    &.-points,
    &.-delivery {
      height: 50vh;
      display: flex;
      align-items: center;
    }

    .main__text {
      padding-top: 140px;
    }

    .main-pic {
      max-width: 930px;
    }

    &.-clean {
      margin-bottom: auto;
    }

    &.-points {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &.-main {
      min-height: calc(100vh - 125px);
      margin-bottom: 200px;
    }

    &.-delivery {
      padding: 0 0 130px;
      margin-bottom: 50px;
      img {
        max-width: 850px;
      }
    }

    &.-form {
      background-color: #dfd4ee;
    }
  }
}

.main {
  &__text {
    z-index: 5;

    h1 {
      margin-bottom: 20px;
    }
  }

  &__flowers {
    margin-top: -30px;
    z-index: 0;
  }

  @media screen and (min-width: 1280px) {
    &__text {
      padding-top: 80px;
      //display: flex;
      //flex-direction: column;
      //justify-content: center;
      //align-items: flex-start;
    }
  }
}