h1, h2, h3 {
  font-family: 'frank';
}

h1, h2 {
  color: white;
  font-size: 18px;
  line-height: 26px;

  &.-header-gradient {
    background: linear-gradient(90deg, $blue, $blue, $pink, $pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 34px;
  }
}

h2.title {
  font-size: 24px;
  line-height: 30px;
}

h4.subtitle {
  font-size: 18px;
  max-width: 226px;
  margin: 0 auto;
}

.text {

}

@media screen and (min-width: 768px) {
  .text {
    font-size: 12px;
  }

  h4.subtitle {
    max-width: 450px;
  }
}

@media screen and (min-width: 1280px) {
  h1, h2.title {
    font-size: 42px;
    line-height: 50px;

    &.-standalone {
      margin-bottom: 40px;
    }
  }

  h4.subtitle {
    max-width: 100%;
  }

  .text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1680px) {
  h1, h2.title {
    font-size: 60px;
    line-height: 70px;

    &.-standalone {
      margin-bottom: 40px;
    }
  }

  h4.subtitle {
    font-size: 24px;
    max-width: 100%;
  }

  .text {
    font-size: 24px;
  }
}