@font-face {
	font-family: "comfortaa";
	src: url("../fonts/Comfortaa-Bold.ttf");
	font-weight: 900;
}

@font-face {
	font-family: "comfortaa";
	src: url("../fonts/Comfortaa-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "frank";
	src: url("../fonts/Frankfurter_Russia.otf");
	font-weight: normal;
}