$violet: #8053AB;
$yellow: #FDDD2F;
$blue: #66c3ff;
$pink: #ed9cff;

$gradient-main: linear-gradient(45deg, $blue, $blue, $pink, $pink);

$dark-blue: #0091ff;
$darker-blue: #0036ff;

$dirty-pink: #dfd4ed;
$dirty-blue: #cbe6f9;

$light-pink: #ffd8e3;

$border-radius: 10px;