@import "../../node_modules/bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@import "_var";
@import "_fonts";
@import "components/navbar";
@import "components/section";
@import "components/container";
@import "components/btn";
@import "components/typography";
@import "components/decor";
@import "components/catalog";
@import "components/point";
@import "components/footer";
@import "components/form";
@import "components/modal";


* {
  font-family: 'comfortaa', serif;
  box-sizing: border-box;
}

.-hidden-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .-hidden-desktop {
    display: none;
  }

  .-hidden-mobile {
    display: block;
  }
}